* {
  font-family: "Circular", sans-serif;
}
.page {
  display: flex;
}

.outputDiv {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 18.52px;
  font-weight: 550;
  margin-top: 15px;
}
.headin {
  font-size: 18.52px;
  font-weight: 550;
  margin-top: 15px;
  margin-bottom: 10px;
}
.card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

#pdf {
  margin-right: 3px;
}
.pdf {
  font-family: sans-serif;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Popup content */
.popupContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

/* Close button */
.close {
  position: relative;
  top: 10px;
  left: 27vw;
  font-size: 20px;
  cursor: pointer;
}

.close:hover {
  color: red;
}

.citePaper {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.citationsText {
  font-size: 16px;
  margin-bottom: 10px;
}

.copyButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.copyButton:hover {
  background-color: #0056b3;
}

.successMessage {
  color: green;
  font-size: 14px;
  margin-top: 5px;
}

.home-root {
  position: relative;
}
.nav-div {
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  background-color: white;
}
.total {
  width: 43%;
  margin-right: 20px;
}
.authorSearch {
  margin-left: 2.3vw;
}
.paperSearch {
  margin-left: 5px;
}
.paperheader {
  background-color: white;
  font-family: sans-serif;
  width: 70%;
  margin-left: 25px;

  border-radius: 5px 5px 0px 0px;
}

.authorCard {
  display: inline-block; /* Change display to inline-block */
  width: auto; /* Set width to auto */
  text-decoration: none;
  color: inherit;
  margin-bottom: 10px;
}
@media (max-width: 800px) {
  .authorCard {
    display: block; /* Change display to block */
    margin: 10px auto; /* Center the card by setting margin to auto */
  }
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profileContainer {
  display: flex;
}

.profileImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.detailsOverlay {
  margin-left: 16px;
}

.userName {
  margin: 0;
  color: #3498db;
  font-size: 18px;
  font-weight: 400;
}

.userInstitution {
  margin: 4px 0;
  font-size: 14px;
  color: #666;
}

.stats {
  display: flex;
  margin-top: 13px;
}

.statItem {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
}

.statNumber {
  font-size: 16px;
  font-weight: bold;
  margin-left: 40%;
}

.statLabel {
  font-size: 14px;
  color: #666;
}
/* Default desktop view */
.total {
  display: block;
}

.toggle-dropdown {
  display: none;
}

@media (max-width: 768px) {
  .tabsSidebar {
    display: none;
  }

  .filterDropdown {
    display: block; /* Display the filterDropdown for medium screens */
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .filterDropdown {
    display: none; /* Display the filterDropdown for medium screens */
    margin-bottom: 10px;
  }
}
