.searchContainer {
  position: absolute;
  left: 17vw;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

@media (max-width: 1170px) {
  .searchContainer {
    left: 13vw;
  }
}

@media (max-width: 1065px) {
  .searchContainer {
    left: 17vw;
  }
}

.searchBar {
  display: flex;
  align-items: center;
  width: 200%;
  padding: 10px;
  border-radius: 25px;
  box-shadow: rgba(203, 203, 203, 0.35) 0px 5px 15px;
  background-color: white;
  position: relative;
}

.searchIcon {
  margin-right: 10px;
  color: gray;
  margin-left: 4px;
}

.searchInput {
  border: none;
  outline: none;
  width: 100%;
  padding: 7px;
  font-size: 16px;
  border-radius: 25px;
}

.authorDiv {
  margin-top: 20px;
  width: 50%;
}

.author {
  display: block;
  text-align: left;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s ease;
}

.author:hover {
  background-color: #e0e0e0;
}

.filtersearch {
  display: flex;
  flex-direction: row;
}

.searchresult {
  margin-left: 20px;
  margin-top: 10px;
}

.filterContainer {
  position: relative;
  display: inline-block;
}

.filterIcon {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.dropdown {
  position: absolute;
  top: 30px; /* Adjust this value as needed to place the dropdown correctly */
  right: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px;
  padding: 12px 16px;
  border-radius: 4px;
}

.dropdown label {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.dropdown label input {
  margin-right: 8px;
}
