* {
  font-family: sans-serif;
}
.profileDetails {
  display: flex;
  padding: 20px;
  padding-left: 3vw;
  padding-top: 10px;
  background: #ffffff;

  border-radius: 8px;

  margin-top: 15px;
  margin-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profileMatter {
  display: flex;
  flex-direction: column;

  padding: 10px;
  padding-top: 20px;
}
.profileColleg {
  line-height: 20px;
}

.profileImage {
  display: block;
  margin-top: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 2vh;
}
.profilename {
  font-family: sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 26px;
  margin-bottom: 8px;
  margin-left: 20px;
}
.paperStats {
  padding: 20px;
  font-size: 16px;
  color: #666;
  margin-left: 25vw;
  /* padding-right: 36.96px; */
  gap: 10px;
}
.media {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.profileCollege {
  font-size: 14px;

  margin-left: 20px;
}

/* edit details css */

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.editButton {
  margin-top: 5px;
  padding: 6px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.editButton:hover {
  background-color: #0056b3;
}

.button {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #218838;
}

.stars {
  display: flex;
  align-items: center;
}

.star {
  margin-right: 5px;
  cursor: pointer;
  color: #ccc;
}

.star.hovered {
  color: gold;
}

.star.ratedStar {
  color: gold;
}

.star.averageStar {
  color: gold;
}

.authorRating {
  display: flex;
  align-items: center;
  /* margin-top: 10px;
  position: absolute;
  margin-top: 85px;
  margin-left: 325px; */
  margin-left: 20px;
  margin-bottom: 3px;
}

.authorRating h4 {
  margin-right: 10px;
}

/* ... */

@media (max-width: 800px) {
  .media {
    flex-direction: column;
  }
  .paperStats {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-left: 30px;
  }
  p {
    margin-right: 10px;
  }
  .profileDetails {
    margin: 0;
    margin-top: 10px;
  }
  .authorRating {
    position: static;
    margin-left: 0;
    margin-top: 0px;
  }
}
